.section {
    margin: 10px 0;
    background: white;
    box-shadow: 0 0 5px #ddd;
}

.section__heading {
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.section__body {
    padding: 20px
}

.section__header {
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media(max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

;